<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010467027551-81gfvd9n8bu7rd06tfemvmhcp182c4kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010467027551-81gfvd9n8bu7rd06tfemvmhcp182c4kq</string>
	<key>API_KEY</key>
	<string>AIzaSyCYaFBsXuF8klnvwE8z3x_jn-JZOQH2IDk</string>
	<key>GCM_SENDER_ID</key>
	<string>1010467027551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderingSystem</string>
	<key>PROJECT_ID</key>
	<string>resto-task</string>
	<key>STORAGE_BUCKET</key>
	<string>resto-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010467027551:ios:17c4bd2d8a3de60e9e79ea</string>
</dict>
</plist>